.CryptoCurrency {
    position: relative;
    background-color: rgb(16, 49, 121);
    border-radius: 10px;
    display: flex;
    margin-right: 4px;
    margin-left: 4px;
    margin-bottom: 0.5%;
    padding: 1% 0;
    width: calc(50% - 10px);
    height: auto;
    border: 1px solid rgb(83, 82, 82);
}

.CryptoCurrency-section-left {
    width: 20%;
    border-right: 1px solid rgb(83, 82, 82);
    padding-top: 5%;
    padding-left: 4%;
}

.CryptoCurrency-section-left>p {
    color: rgb(200, 195, 195);
    font-size: 12px;
    padding-top: 7px;
}

.CryptoCurrency-section-right {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.CryptoCurrency-section-right>div {
    width: calc(50% - 30px);
    padding: 15px;
}

.CryptoCurrency-section-right>div>h3 {
    padding-top: 7px;
    font-weight: bold;
}

.CryptoCurrency-section-right>div>p {
    font-size: 12px;
    color: rgb(226, 220, 220);
}

.check-mark-container {
    position: relative;
}

.check-mark {
    color: rgba(41, 87, 241, 0.877);
    position: absolute;
    left: 5px;
    top: 3px;
}

/*Responsive Design*/
@media only screen and (max-width:992px) {
    .CryptoCurrency {
        width: 100%;
    }
}