body {
  margin: 0;
  background-image: linear-gradient(rgb(9, 29, 73), rgb(16, 48, 117), rgb(9, 29, 73));
  height: 100vh;
  font-family: myFirstFont !important;
  box-sizing: border-box;
}

@font-face {
  font-family: "myFirstFont";
  src: url(./assets/font/SourceSansPro-Regular.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
big,
code,
em,
img,
small,
strong,
var,
b,
u,
i,
center,
fieldset,
form,
label,
article,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers  */
article,
aside,
details,
section {
  display: block;
}

body {
  line-height: 1;
}


/*App style*/
.App {
  width: 95%;
  margin: 0 auto;
  color: white;
}

/*CryptoCurrencies style*/
.CryptoCurrencies {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*CryptoCurrency style*/
.CryptoCurrency {
  position: relative;
  background-color: rgb(16, 49, 121);
  border-radius: 10px;
  display: flex;
  margin-bottom: 0.5%;
  padding: 1% 0;
  width: 49.5%;
  height: auto;
  border: 1px solid rgb(83, 82, 82);
}

.CryptoCurrency-section-left {
  width: 20%;
  border-right: 1px solid rgb(83, 82, 82);
  padding-top: 5%;
  padding-left: 4%;
}

.CryptoCurrency-section-left>p {
  color: rgb(200, 195, 195);
  font-size: 12px;
  padding-top: 7px;
}

.CryptoCurrency-section-right {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.CryptoCurrency-section-right>div {
  width: calc(50% - 30px);
  padding: 15px;
}

.CryptoCurrency-section-right>div>h3 {
  padding-top: 7px;
  font-weight: bold;
}

.CryptoCurrency-section-right>div>p {
  font-size: 12px;
  color: rgb(226, 220, 220);
}

.check-mark-container {
  position: relative;
}

.check-mark {
  color: rgba(41, 87, 241, 0.877);
  position: absolute;
  left: 5px;
  top: 3px;
}

@media only screen and (max-width:992px) {
  .CryptoCurrency {
    width: 100%;
  }
}

/*CryptoCurrencyList style*/
.CryptoCurrencyList {
  background-color: rgb(33, 69, 146);
  border-radius: 10px;
  margin-bottom: 0.5%;
  padding: 10px;
}

/*Type style*/
.Type {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 1%;
}

.Type-select {
  border-radius: 15px;
  background-color: rgb(12, 47, 122);
  color: white;
  margin-left: 10px;
  height: 5vh;
  text-align: center;
}